body {
  background-image: url("img/wallpaper.jpeg");
  background-repeat: no-repeat;
  background-color: #cccccc;
}

.body {

}
#me {
  max-width: 220px;
  max-height: auto;
  margin: 20px;
  border-radius: 100px;
  border: solid 5px #445a7c;
  float: right;
}

#nameTag {
  margin-top: 100px;
  float: right;
  font-family: 'Righteous', cursive;
}

.rowOne {
  text-align: center;
  background-color: #c5b1d8;
  border-radius: 5px;
  margin: 20px;
}

.rowOne img {
  max-width: 90px;
  max-height: auto;
  border-radius: 200px;
  margin-bottom: 25px;
}
