body {
  background-image: url("http://68.media.tumblr.com/1cceb33b69cdd60b0444ff8f15567c57/tumblr_n637t39i621r12vu5o1_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.body {

}
#me {
  max-width: 220px;
  max-height: auto;
  margin: 20px;
  border-radius: 100px;
  border: solid 5px #445a7c;
  float: right;
}

.id {
  margin-top: 220px;
}

#nameTag {
  color: #bbcece;
  margin-top: 100px;
  float: right;
  font-family: 'Righteous', cursive;
}

.topBanner {
  background-color: #579696;
}

.rowOne {
  text-align: center;
  color: #bbcece;
}

.rowOne img {
  width: 150px;
  max-height:200px;
  border-radius: 25%;
  border: solid 3px #8a5eb5;
  margin-bottom: 25px;
}
 .aboutMe {
   color: #bbcece;
   font-family: 'Monda', sans-serif;
   text-align: right;
   margin: 25px;
   width: 200px;
   float:right;
 }
